body {
  margin: 0;
  max-width: 100vw;
}

main {
  display: grid;
}

header {
  width: 100%;
  height: 200px;
  background-image: url(../assets/headerbg.png);
  background-size: contain;
  display: inline-grid;
  justify-items: center;
  align-items: end;
  background-repeat: repeat;
}

header img:hover {
  content: url(../assets/mugshot-hover.png);
}

#overMij {
  background-color: #ffbaf5;
  height: 100%;
  color: #baffc3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  padding-left: 50px;
}

#overMij h2 {
  font: bold 40px/1 sans-serif;
    grid-column: 1 / 2;
}

#paragraaf1 {
  font: 20px/1 sans-serif;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
}

#overMij img {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
  height: 80%;
}

#mijnDoelen {
  background-color: #baffc3;
  height: 100%;
  color: #ffbaf5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px auto auto;
  padding-right: 50px;
}

#mijnDoelen h2 {
  font: bold 40px/1 sans-serif;
  grid-column: 2 / 3;
}

#paragraaf2 {
  font: 20px/1 sans-serif;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
}

#mijnDoelen img {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
  height: 80%;
}

ol {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: start;
  font: 20px/1 sans-serif;
}

footer {
  background-color: #ffbaf5;
  color: #baffc3;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  font: 15px/1 sans-serif;
  height: 50px;
}

footer a{
    text-decoration: none;
    color: #baffc3;
}

footer a:hover{
text-decoration: wavy overline #ffbaf5;}